body {
    background-image: url('background.png'); /* Указываем изображение фона */
    background-size: cover; /* Изображение будет покрывать весь экран */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Изображение не будет повторяться */
    height: 100vh; /* Высота экрана */
    margin: 0; /* Убираем отступы */
}

/* Стили для основного контента */
.background {
    text-align: center;
    color: black;
    padding-top: 20%;
}

